app:
  regularExpression:
    password: ^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9\\s]).{5,}
    email: ^[a-z0-9]+@[a-z]+\.(cl)$

spring:
    mvc:
      pathmatch:
            matching-strategy: ant-path-matcher

    datasource:
      url: jdbc:h2:file:./data/demodatabase
      driver-class-name: org.h2.Driver
      username: sa
      password:

    jpa:
        hibernate:
          ddl-auto: update
          
    h2:
      console:
        enabled: true

jwt:
  secret: superSecretKey

swagger:
  docs:
    title: Users Microservice
    description:  Users Microservice
    version: 1.0.0